/*CSS per GlobalNavbar*/

#navbar{
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
  width: 100%;
  border-bottom: white 1px solid;
  background-size: 426px 167px;
  height: 6rem;
}

#show-on-mobile {
  display: block;
  background: #ffffff99;
  border-color: unset;
}

.offCansHeader{
  background-color: #453d3d;
  color: white;
}

#offCanvsBody{
  background: linear-gradient(137deg, rgba(61, 61, 94, 1) 0%,  rgba(136, 207, 122, 1) 32%, rgba(65, 166, 135, 1) 63%, rgba(0, 212, 255, 1) 100%);
}

#offCanvsBody p{
  border-bottom: black 1px solid;
  margin-bottom: 1rem;
}

#offCanvsBody a{
  font-size: x-large;
  padding-left: 1rem;
  color: white;
}

.notEnter{
  cursor: not-allowed;
}

#title{
  color: rgb(0 0 0);
  margin: 0%;
  background: #ffffff99;
  font-size: xx-large;
}

#navbar-item-desktop{
 display: none;
}

.navbar-profile{
  background: #ffffff99;
  border-color: unset;
  padding: 0.5rem;
  position: relative;
}

.navbar-profileOpen{
  background: #d61f1f99;
  border-color: unset;
  padding: 0.5rem;
  position: relative;
}

#profile-items{
  position: absolute;
  top: 3rem;
  right: -1rem;
  background-color: white;
  z-index: 3;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  animation: list 0.1s ease-in-out;
  cursor: not-allowed;
}

/*animazioni*/

@keyframes list {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

/*media query per tablet*/

@media (min-width: 426px) {
  #navbar{
    background-size: 386px 167px;
  }
}

/*media query per laptop*/

@media (min-width: 769px) {
  #navbar{
    background-size: 342px 167px;
  }

  #show-on-mobile {
    display: none;
  }  
  
  #navbar-item-desktop{
      display: flex;
      background: #ffffff99;
      align-items: center;
  }

  #navbar-item-desktop p{
      margin: 0;
      padding: 1rem;
  }

  #navbar-item-desktop p:hover{
    background-color: red;
  }

  #navbar-item-desktop a{
      color: black;
      text-decoration: unset;
  }
}

/*CSS per MainHome*/

.spaziatoriHomeMain{
  margin: 0;
  padding: 2px;
  opacity: 0;
}

/*MainHomeSection1*/*/

#section1{
  background-image: url('../src/img/backgroundImgSection1.jpeg');
  background-size: 40rem 27rem;
  background-position-x: -16rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.group-paragrafer{
  opacity: 1;
  transition: opacity 2s;
  width: 100%;
  height: 30rem;
  padding-top: 1rem;
  animation: GroupParagrafer 6s ease-out;
  position: absolute;
  z-index: 1;
  background-color: black;
  color: white;
  text-align: center;
}

#para1, #para2, #para3, #para4, #para5 {
  margin: 0;
  margin-top: 2.5rem;
  padding: 0.5rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 8px 6px;
  font-weight: bold;
  font-size: small;
}

.visibleParagrafoSection1 {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.hiddenParagrafoSection1 {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

#group-img{
  position: relative;
  z-index: 2;
  justify-content: space-around;
  display: flex;
  width: 100%;
}

#immagine2{
  transform: scaleY(-1);
}

#immagine3{
  transform: scalex(-1);
}

#immagine4{
  transform: scale(-1);
}

#slide-img-sinistra{
  width: 50%;
  animation: slideImg 2s ease-in-out;
  display: flex;
  flex-direction: column;
}

#slide-img-sinistra img{
  width: 0%;
  height: 15rem;
  animation: slideImgSinistra 2s ease-in-out;
}

#slide-img-destra{
  align-items: flex-end;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#slide-img-destra img{
  width: 0%;
  height: 15rem;
  animation: slideImgDestra 2s ease-in-out;
}

/*animazioni MainHomeSection1*/

@keyframes slideImgDestra {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes slideImgSinistra {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/*media query per tablet MainHomeSection1*/

@media (min-width: 426px){

  #slide-img-sinistra img{
    width: 40%;
    height: 15rem;
    animation: slideImgSinistra 2s ease-in-out;
  }

  #slide-img-destra img{
    width: 40%;
    height: 15rem;
    animation: slideImgDestra 2s ease-in-out;
  }

  /*animazioni per tablet MainHomeSection1*/

  @keyframes slideImgDestra {
    0% {
      width: 100%;
    }
    100% {
      width: 40%;
    }
  }

  @keyframes slideImgSinistra {
    0% {
      width: 100%;
    }
    100% {
      width: 40%;
    }
  }
}

/*MainHomeSection2*/

#section2{
  background-image: url(./img/backgroundImgSection2.avif);
  background-size: 64rem 34rem;
  background-position-x: -16rem;
}

#groupSection2{
  padding: 1rem;
  text-align: center;
}

.divVisible{
  animation: visibleDiv 1s ease-in;
}

#introGroupSection2{
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: #ffffff61;
  border-radius: 3rem;
  width: 90%;
  font-size: small;
  box-shadow: 0px 0px 11px 6px;
}

.allButton{
  display: block;
  border: #ffffff 1px solid;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: black;
  border-radius: 2rem;
  border-color: red;
  background-color: #dfdfdf8a;
  width: 50%;
}

.allButton:hover{
  background-color: red;
  box-shadow: 0px 0px 15px 1px;
}

#giraPagina{
  padding: 0.5rem;
  width: 70%;
  border-radius: 3rem;
  margin-top: 1rem;
  animation: giraPagina 2s ease-out;
}

#giraPagina:hover{
  background-color: red;
  color: white;
  box-shadow: 0px 5px 9px 3px;
}

.carousellVisibleTelefono{
  position: relative;
  animation: VisibleCarousell 1s ease-out;
}

.carousellVisibleTablet{
  display: none;
}

.carousellVisibleLaptop{
  display: none;
}

.carouselWrapperTelefono {
  height: 28rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.allArrow {
  color: #a53737;
  background-color: #ffffff75;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border-color: #ff5a5a;
  font-weight: 400;
  margin-top: 12rem;
  height: 6rem;
  position: relative;
  top: 3rem;
}

.allBox{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#boxTelefonoImg1{
  width: 90%;
  top: 0rem;
  position: absolute;
  z-index: 0;
  border-radius: 2rem;
  box-shadow: 16px -7px 9px 0px;
  color: white;
  margin: 1rem;
}

.allCardWrapper {
  display: flex;
  height: 22rem;
  width: 100%;
  margin-top: 2rem;
}

.cardCaroselloTelefono {
  width: 90%;
}

.allTitleSection2{
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: larger;
}

.allParagrafoSection2{
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: small;
}

.activeCardCarousellTelefono{
  margin: 1rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 6rem;
  box-shadow: 0px 0px 27px 8px;
  background-color: #ffffffa3;
  color: #000000;
  border-radius: 2rem;
}

.carousel-wrapperTablet {
  height: 28rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  animation: carousel-wrapperTablet 2s ease-in;
}

/*animazioni MainHomeSection2*/

@keyframes visibleDiv {
  0%{
    opacity: 0;
    transform: rotateY(180deg);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes VisibleCarousell {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes carousel-wrapperTablet {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes giraPagina {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

/*media query per tablet MainHomeSection2*/

@media (min-width: 426px){

  #section2{
    background-size: 80rem 34rem;
    background-position-x: -9rem;
  }

  .carousellVisibleTelefono{
    display: none;
  }

  .carousellVisibleTablet{
    display: block;
    position: relative;
  }

  .cardRowTablet { 
    position: relative;
    top: 5rem;
    display: flex;
    gap: 2rem; 
    justify-content: center; 
  }

  .cardCaroselloTablet { 
    width: 100%;
    transition: transform .3s ease, opacity .3s ease; 
    opacity: 0.5; 
    transform: scale(0.65);
    position: relative;
    top: 3rem;
    background-color: white;
    border-radius: 2rem;
  }

  .activeCardCarosellSection2Tablet { 
    opacity: 1;
    transform: scale(1);
    z-index: 1;
    position: relative;
    top: 0rem;
    background-color: #ffffff;
  }

  .hiddenCardCarosellTablet {
    opacity: 0.5;
  }
  
  .coverTabletBattle{
    width: 75%;
    height: 14rem;
    position: absolute;
    top: 1rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 19px 8px;
  }
}

/*media query per laptop MainHomeSection2*/

@media (min-width: 769px){

  .carousellVisibleTablet{
    display: none;
  }

  .carousellVisibleLaptop{
    display: block;
  }

  .cardCaroselloLaptop {
    width: 10%;
    background-color: white;
    opacity: 0.5;
    transform: skew(10deg, 10deg);
    margin: 1rem;
    border-radius: 2rem;
    position: relative;
    top: -3rem;
  }

  .laptopTitleSection2 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: x-small;
  }

  .laptopParagrafoSection2 {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: x-small;
  }

  .activeCardCarousellSection2Laptop{
    opacity: 1;
    transform: scale(1.2);
    position: relative;
    top: -5rem;
    width: 40%;
  }

  .activeCardCarousellSection2Laptop h3{
    font-size: larger;
  }

  .activeCardCarousellSection2Laptop p{
    font-size: medium;
  }

  .carouselWrapperTablet {
    height: 28rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    animation: carousel-wrapperTablet 2s ease-in;
  }

  .arrowLaptop {
    color: #a53737;
    background-color: #ffffff75;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border-color: #ff5a5a;
    font-weight: 400;
    margin-top: 12rem;
    height: 6rem;
    position: relative;
    top: -2rem;
  }
}

/*media query per desktop MainHomeSection2*/

@media (min-width: 1201px) {
  #section2 {
    background-size: 90rem 40rem;
    background-position-x: 0rem;
  }

  .activeCardCarousellSection2Laptop {
    width: 30%;
  }

  #section4 {
    background-image: url(./img/backgroundImgSection2.avif);
    background-size: 48rem 18rem;
    text-align: center;
    background-position-x: 0rem;
  }
}

/*css MainHomeSection3*/

#Main-home-section3 {
  background-image: url(./img/backgroundImgSection3\ intro\ sezioni.jpg);
  background-size: 44rem 28rem;
  background-repeat: no-repeat;
  background-position-x: -14rem;
  background-position-y: 0rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}

.div-main-home-section3 {
    width: 70%;
    padding: 1rem;
    position: absolute;
    z-index: 0;
    animation: divSection3TelefonoETablet 1s ease;
}

#multi-sezione{
  width: 25%;
  margin-right: auto;
  transition: width 1s ease;
}

#multi-sezione-active{
  width: 90%;
  margin-right: auto;
  transition: width 1s ease;
}

.div-main-home-section3 h4{
  margin: 0;
  padding: 1rem;
  color: white;
  font-size: smaller;
  font-weight: 900;
  animation: divSection3TelefonoETabletH4P 3s ease;
  background-color: #5a5a5a87;
  border-radius: 2rem;
}

.div-main-home-section3 p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #ffffff96;
  border-radius: 2rem;
  font-size: xx-small;
  font-weight: 500;
  animation: divSection3TelefonoETabletH4P 3s ease;
}

.articolo {
  height: 6rem;
  animation: articoliTelefonoETablet 1s ease;
}

.articolo-active{
  height: 15rem;
  animation: articoliTelefonoETabletActive 1s ease;
}

#articolo1{
  background-image: url(./img/backgroundImgSection3\ invenzioni.jpg);
  background-size: cover;
}

#articolo2{
  background-image: url(./img/backgroundImgSection3\ continenti.jpg);
  background-size: cover;
}

#articolo3{
  background-image: url(./img/backgroundImgSection3\ epoche.jpg);
  background-size: cover;
}

.articolo-intro{
  align-items: center;
  box-shadow: inset 0 0 18px 0px;
  width: 100%;
  animation: articoloIntroTelefonoETablet 1s ease;
  color: white;
}

.articolo-intro-active{
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 4px;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  animation: articoloIntroTelefonoETabletActive 1s ease;
}

.articolo-title {
  padding: 0.1rem;
  font-weight: 900;
  width: 75%;
  color: black;
  background-color: #ffffff47;
  border-radius: 0rem 1rem 1rem 0rem;
  font-size: x-small;
}

.articolo-title-active {
  margin: 0.5rem;
  padding: 0.5rem;
  font-weight: 900;
  width: 80%;
  color: black;
  background-color: #ffffff47;
  border-radius: 3rem 0rem 3rem 0rem;
  text-align: center;
  font-size: x-small;
  animation: articoloTitleTelefonoETabletActive 1s ease-out;
}

.articolo-button {
  border-radius: 1rem;
  border-color: #ff5c5c;
  background-color: #9dbef94f;
  color: #000000;
  box-shadow: 0px 2px 21px 3px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  font-size: x-small;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.articolo-contenuto{
  display: none;
}

.articolo-contenuto-active{
  padding: 1rem;
  background-color: #ffffff78;
  border-radius: 1rem;
  color: black;
  font-size: x-small;
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 2s ease-out;
  animation: articoloTestoTelefonoETabletActive 2s ease;
}

.articolo-group-button-active{
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  width: 80%;
  font-size: small;
  display: flex;
  justify-content: space-between;
  animation: articoloTestoTelefonoButton 2s ease-out;
}

.singole-button{
  width: 50%;
  border-radius: 1rem;
  border-color: #ff5c5c;
  background-color: #9dbef94f;
  padding: 0.5rem;
  color: #000000;
  box-shadow: 0px 2px 21px 3px;
}

/*animazioni MainHomeSection3*/

@keyframes divSection3TelefonoETablet {
  0%{
    width: 10%;
    padding: 0;
    opacity: 0;
  }
  100%{
    opacity: 1;
    width: 70%;
    padding: 1rem;
  }
}

@keyframes articoliTelefonoETablet {
  0%{
    height: 15rem;
  }
  50%{
    height: 6rem;
  }
}

@keyframes articoliTelefonoETabletActive {
  0%{
    height: 6rem;
  }
  100%{
    height: 15rem;
  }
}

@keyframes articoloTitleTelefonoETabletActive {
  0%{
    margin: 0;
    padding: 0.1rem;
    border-radius: 0rem 3rem 3rem 0rem;
    text-align: left;
    width: 50%;
  }
  100%{
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 3rem 0rem 3rem 0rem;
    text-align: center;
    width: 80%;
  }
}

@keyframes articoloTestoTelefonoETabletActive {
  0%{
    opacity: 0;
    font-size: xx-small;
  }
  100%{
    opacity: 1;
    font-size: x-small;
  }
}

@keyframes articoloTestoTelefonoButton {
  0%{
    opacity: 0;
    font-size: x-small;
    width: 40%;
  }
  100%{
    opacity: 1;
    font-size: small;
    width: 80%;
  }
}

/*media query per tablet MainHomeSection3*/

@media (min-width: 426px){

  #Main-home-section3{
    background-size: 62rem 28rem;
  }

  .div-main-home-section3-intro h4{
    font-size: medium;
  }
   
  .div-main-home-section3-intro p{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: small;
  }
}

/*media query per laptop MainHomeSection3*/

@media (min-width: 769px) {

  #Main-home-section3{
    background-image: url(./img/backgroundImgSection3\ intro\ sezioni.jpg);
    background-size: 78rem 45rem;
    background-position-y: -11rem;
    overflow: hidden;
  }

  .div-main-home-section3{
    width: 50%;
    animation: Main-home-section3 0.5s ease-out;
    position: relative;
  }

  #div-main-home-section3-intro{
    width: 90%;
    position: relative;
    z-index: 0;
    left: 1rem;
    text-align: center;
  }

  .div-main-home-section3-intro h4{
    margin-bottom: 3rem;
    color: #000000;
    background-color: #ffffffad;
    border-radius: 2rem;
    padding: 0.5rem;
  }

  .articolo-contenuto{
    display: none;
  }

  .div-main-home-section3-intro p{
    margin-top: 3rem;
    padding: 1rem;
    color: #000000;
  }

  .articolo {
    height: auto;
    animation: none;
  }

  .articolo-active{
    height: auto;
    animation: none;
  }

  .articolo-intro{
    align-items: center;
    box-shadow: unset;
    width: 100%;
    animation: articoloIntroTelefonoETablet 1s ease;
    color: white;
    height: 6rem;
  }

  #multi-sezione{
    display: flex;
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    transform: skewX(20deg);
  }

  #multi-sezione-active{
    display: flex;
    width: 92%;
    transform: skewX(20deg);
  }

  .articolo{
    width: 26%;
    position: relative;
    left: 7rem;
    color: white;
    transition: width 0.5s ease-in;
    font-size: smaller;
    height: 15rem;
    animation: none;
  }

  .articolo-active{
    width: 115%;
    position: relative;
    left: 7rem;
    color: white;
    transition: width 1s ease-out;
    height: 15rem;
  }

  .articolo-title{
    margin: 0;
    padding: 0.5rem;
    box-shadow: 0px 2px 10px 1px;
  }

  .articolo-title-active{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    font-weight: 900;
    box-shadow: 0px 2px 10px 1px;
  }

  .articolo-contenuto{
    margin: 1rem;
    padding: 0.5rem;
    font-weight: 500;
    background-color: #ffffffad;
    color: black;
    border-radius: 2rem;
    font-size: smaller;
    height: 10rem;
  }

  .articolo-contenuto-active{
    width: 50%;
    padding: 2rem;
    font-weight: 500;
  }

  .articolo-button{
    display: block;
    margin: 1rem;
    margin-top: 10rem;
    width: 50%;
    border-radius: 1rem;
    border-color: #ff5c5c;
    background-color: #9dbef94f;
    padding: 0.5rem;
    color: #ffffff;
    box-shadow: 0px 3px 6px 5px;
  }

  .articolo-button-active{
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 1rem;
    border-color: #ff5c5c;
    background-color: #9dbef94f;
    padding: 0.5rem;
    color: #ffffff;
    box-shadow: 0px 3px 6px 5px;
  }

  /*animazioni MainHomeSection3*/

  @keyframes Main-home-section3 {
    0%{
      opacity: 0;
      position: relative;
      z-index: 0;
    }
    100%{
      opacity: 1;
      position: relative;
      z-index: 0;
    }
  }
}

/*media query per desktop MainHomeSection3*/

@media (min-width: 769px) {

  #Main-home-section3 {
    background-size: 104rem 45rem;
    background-position-y: -7rem;
  }
}

/*css section4*/

#section4{
  background-image: url(./img/backgroundImgSection4\ .jpg);
  background-size: 36rem 21rem;
  text-align: center;
  background-position-x: -9rem;
}

#backgroundImgSection4{
  display: none;
}

#groupCardDivulgatoriTelefonoETablet{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#groupCardDivulgatoriLaptopEDesktop{
  display: none;
}

#introDivulgatori{
  color: black;
  padding: 0.5rem;
  background-color: #ffffffbf;
  border-radius: 2rem;
  font-size: small;
  text-align: center;
  margin: 0;
  box-shadow: 0px 0px 20px 7px;
}

.articleDivulgatori{
  display: flex;
  justify-content: space-between;
  background-color: #9393939c;
  margin: 1rem;
  border-radius: 2rem;
  width: 80%;
  position: relative;
}

.card{
  width: 55%;
  box-shadow: 0px 0px 23px 5px;
  text-align: center;
  margin: 1rem;
}

.cardImage{
  border-radius: 1rem;
  background-color: black;
  height: 8rem;
}

.groupContent{
  background-image: url(./img/divulgatori/pngtree-a-open-book-with-blank-pages-on-isolated-png-image_18851524.png);
  background-size: 30rem;
  background-position-x: -3rem;
  background-position-y: -5rem;
  color: #000000;
  background-repeat: no-repeat;
  height: 9rem;
}

.groupContent h5{
  margin: 0;
  padding: 0.5rem;
  font-size: smaller;
  font-weight: 900;
  color: #575757;
}

.groupContent p{
  margin: 0;
  padding: 0.5rem;
  font-size: small;
}

.cardButton{
  width: 75%;
  font-size: smaller;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  border-radius: 2rem;
  border-color: red;
  background-color: #ffffff66;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#introButtonDivulgatori{
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 2rem;
  border-color: red;
  background-color: #92e5fd66;
  color: white;
  box-shadow: 0px 1px 12px 5px;
  position: relative;
}

.videoDivulgatoriIntro{
  width: 100%;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 36px 6px;
}

/*media query per tablet Section4*/

@media (min-width: 426px){

  .card{
    width: 35%;
  }
}

/*media query per laptop Section4*/

@media (min-width: 769px){

  #section4 {
    background-size: 48rem 18rem;
    background-position-x: 0rem;
  }
  
  #groupCardDivulgatoriTelefonoETablet{
    display: none;
  }

  #groupCardDivulgatoriLaptopEDesktop{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #section4{
    background-size: 44rem 31rem;
  }
}

/*media query per desktop Section4*/

@media (min-width: 1441px){
      #groupCardDivulgatoriLaptopEDesktop{
    flex-direction: row;
  }
  
  .articleDivulgatori{
    width: 31%;
  }
}

/*css mainBattaglie*/

#schermataBataglieMain{
  background-color: #e5c996;
}

#titleBattaglie{
  background-image: url('./img/img_mainBattaglie/img section body.jpg');
  padding: 1rem;
  background-size: 28rem 12rem;
  background-position-y: 0rem;
  height: 6rem;
  text-align: center;
}

.introMainBattaglie{
  margin: 1rem 0rem 1rem 0rem;
}

.introMainBattaglie p{
  padding: 1rem;
  background-color: #ffffffd1;
  border-radius: 1rem;
}

.firstP{
  animation: firstP 2s ease-in;
}

.cssVideoMomentaneo{
  background-color: white;
  margin: 2rem;
  padding: 8rem;
  animation: firstVideo 2s ease-in;
}

.secondP{
  animation: secondP 2s ease-in;
}

.buttonShowBattlesOn{
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: red;
  border-color: #8f4b4b;
  width: 50%;
}

.buttonShowBattlesOff{
  background-color: red;
  border-color: #9d2f2f;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-left: 22rem;
}

.articleBattles{
  animation: articleBattles 1s ease-out;
}

#continent-europa {
  background-image: url('./img/img_mainBattaglie/img_europa.jpeg');
}

#continent-africa {
  background-image: url('./img/img_mainBattaglie/img_africa.jpg');
}

#continent-asia {
  background-image: url('./img/img_mainBattaglie/img_asia.jpg');
}

#continent-oceania {
  background-image: url('./img/img_mainBattaglie/img_oceania.jpg');
}

#continent-sud-america {
  background-image: url('./img/img_mainBattaglie/img_sud_america.avif');
}

#continent-nord-america {
  background-image: url('./img/img_mainBattaglie/img_nord_america.jpg');
}

#continent-sud-america, 
#continent-nord-america, 
#continent-oceania, 
#continent-africa, 
#continent-asia, 
#continent-europa{
  background-size: 27rem 13rem;
  padding: 1rem;
  margin-top: 0.5rem;
  min-height: 10rem;
}

.continentBlock{
  margin: 0;
  padding: 0.5rem;
  background-color: #ffffffc2;
  width: 50%;
  border-radius: 2rem 0rem 3rem 0rem;
  text-align: center;
}

.millenniumBlock{
  padding: 0.5rem;
  margin: 1rem 1rem 1rem 6rem;
  background-color: #ffffffe3;
  width: 50%;
  font-size: medium;
  border-radius: 1rem 1rem 0rem 0rem;
  transform: rotateX(-18deg);
  animation: millenniumBattaglie 1s ease-in;
}

.battleCard{
  background-color: #ffffffbf;
  width: 50%;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0rem 0rem 1rem 1rem;
  box-shadow: -6px 6px 13px 1px;
  text-align: center;
  animation: cardBattaglie 1s ease-in;
}

.battleCard h4{
  font-size: medium;
  margin: 0;
}

.battleCard p{
  font-size: small;
  margin: 1rem;
}

#cardMainB{
  margin-top: 6rem;
  background-color: #d9aa8e;
}

.cardIntroB{
  padding: 1rem;
  background-color: #ffffffd9;
  border-radius: 1rem 0rem 1rem 1rem;
}

#cardB{
  padding: 3rem;
  background-size: cover;
  background-position-y: -4rem;
  text-align: center;
}

#cardContentB{
  padding: 2rem;
}

.cardTextB {
  line-height: 1.6;
  background-color: #ffffffd9;
  border-radius: 1rem;
  padding: 1rem;
}

#cardImgTestoB {
  width: 90%;
  height: 15rem;
  margin: 1rem 1rem 1rem 1rem;
}

/*animazioni MainBattaglie*/

@keyframes firstP {
  0%{
    transform: rotateX(45deg);
    opacity: 0;
  }
  100%{
    transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes firstVideo {
  0%{
    transform: scale(0.1);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes secondP {
  0%{
    transform: skewX(35deg) translateX(+100%);
    opacity: 0;
  }
  50%{
    transform: translateX(0);
  }
  100%{
    transform: skewX(0deg);
    opacity: 1;
  }
}

@keyframes articleBattles {
  0%{
    opacity: 0;
    transform: scaleY(0);
  }
  100%{
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes millenniumBattaglie {
  0%{
    transform: rotateX(90deg);
    opacity: 0;
  }
  100%{
    transform: rotateX(-18deg);
    opacity: 1;
  }
}

@keyframes cardBattaglie {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

/*css mainEpoche*/

#schermataEpocheMain{
  background-color: #5553d3;
}

#introBigSectionEpoche{
  background-image: url(./img/img_mainEpoche/titolo-img.jpg);
  padding: 1rem;
  background-size: 27rem 9rem;
  min-height: 8rem;
}

.epoche-scroll {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
}

#epoca-paleolitico {
  background-image: url(./img/img_mainEpoche/epoca-paleolitico.jpg);
}

#epoca-mesolitico {
  background-image: url(./img/img_mainEpoche/epoca-mesolitico.jpg);
}

#epoca-neolitico {
  background-image: url(./img/img_mainEpoche/epoca-neolitico.jpg);
}

#epoca-età-dei-metalli {
  background-image: url(./img/img_mainEpoche/epoca-eta-dei-metalli.jpg);
}

#epoca-età-del-bronzo {
  background-image: url(./img/img_mainEpoche/epoca-eta-del-bronzo.jpg);
}

#epoca-età-del-ferro {
  background-image: url(./img/img_mainEpoche/epoca-eta-del-ferro.jpg);
}

#epoca-antichità-classica {
  background-image: url(./img/img_mainEpoche/epoca-antichita-classica.jpg);
}

#epoca-alto-medioevo {
  background-image: url(./img/img_mainEpoche/epoca-alto-medioevo.jpg);
}

#epoca-basso-medioevo {
  background-image: url(./img/img_mainEpoche/epoca-basso-medioevo.jpg);
}

#epoca-rinascimento {
  background-image: url(./img/img_mainEpoche/epoca-rinascimento.jpg);
}

#epoca-età-delle-scoperte {
  background-image: url(./img/img_mainEpoche/epoca-eta-delle-scoperte.jpg);
}

#epoca-età-moderna {
  background-image: url(./img/img_mainEpoche/epoca-eta-moderna.jpg);
}

#epoca-illuminismo {
  background-image: url(./img/img_mainEpoche/epoca-illuminismo.jpg);
}

#epoca-età-delle-rivoluzioni {
  background-image: url(./img/img_mainEpoche/epoca-eta-delle-rivoluzioni.jpg);
}

#epoca-rivoluzione-industriale {
  background-image: url(./img/img_mainEpoche/epoca-rivoluzione-industriale.jpg);
}

#epoca-età-contemporanea {
  background-image: url(./img/img_mainEpoche/epoca-eta-contemporanea.jpg);
}

#epoca-età-della-guerra-mondiale {
  background-image: url(./img/img_mainEpoche/epoca-eta-della-guerra-mondiale.jpg);
}

#epoca-guerra-fredda {
  background-image: url(./img/img_mainEpoche/epoca-guerra-fredda.jpg);
}

#epoca-era-post-guerra-fredda {
  background-image: url(./img/img_mainEpoche/epoca-era-post-guerra-fredda.jpg);
}

#epoca-età-contemporanea-avanzata {
  background-image: url(./img/img_mainEpoche/epoca-eta-contemporanea-avanzata.jpg);
}

.introEpoca{
  margin: 0.5rem;
  background-color: #ffffffbf;
  padding: 0.5rem;
  border-radius: 1rem 0rem 1rem 0rem;
  animation: text 3s ease-in-out;
}

.titoloTesto{
  margin: 0.5rem;
  background-color: #ffffffbf;
  padding: 0.5rem;
  border-radius: 1rem 0rem 1rem 0rem;
  animation: text 3s ease-in-out;
}

.activeEpoca{
  min-width: 30rem;
  text-align: center;
  padding: 1rem 1rem 0rem 1rem;
  min-height: 40rem;
  background-size: 31rem 20rem;
  box-shadow: 8px 9px 15px 5px;
  margin: 0.5rem;
  animation: activeEpoca 1s ease-in;
}

.inactiveEpoca{
  min-width: 12rem;
  text-align: center;
  padding: 1rem 1rem 0rem 1rem;
  min-height: 40rem;
  background-size: 31rem 20rem;
  box-shadow: 8px 9px 15px 5px;
  margin: 0.5rem;
  animation: inactiveEpoca 1s ease-out;
}

/*animazioni mainEpoche*/

@keyframes text {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes activeEpoca {
  0%{
    min-width: 12rem;
  }
  100%{
    min-width: 30rem;
  }
}

@keyframes inactiveEpoca {
  0%{
    min-width: 30rem;
  }
  100%{
    min-width: 12rem;
  }
}

/*css mainInvenzioni*/

#schermataInvenzioneMain{
  background-color: #673AB7;
}

#introBigSectionInvenzioni{
  background-image: url(./img/backgroundImgSection3\ invenzioni.jpg);
  padding: 2rem;
  background-size: cover;
  background-position-y: -4rem;
  text-align: center;
}

.epocheInvenzioni{
  background-image: url(./img/img_mainInvenzioni/img_epoche.webp);
  background-size: cover;
  background-position-y: -3rem;
  margin: 0;
  padding: 3rem;
  text-align: center;
}

.groupInvenzioni{
  display: flex;
  overflow: scroll;
}

.invenzioni{
  background-image: url(./img/img_mainInvenzioni/img_invenzioni.jpeg);
  padding: 2rem;
  background-size: cover;
  min-height: 17rem;
  margin: 0.5rem;
}

.cardInvenzioni, .epocheInvenzioni h3 {
  background-color: #ffffffe8;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.bigArticole{
  box-shadow: 0px -8px 22px 4px;
  margin-top: 0.3rem;
}

/*css continenti*/

#schermataContinentiMain{
  background-color: #60c4ff;
}

.activeGround{
  background-size: 26rem 13rem;
  background-position-y: -2rem;
}

.unactiveGround{
  background-size: 26rem 12rem;
  background-position-y: 0rem;
}

#introContinenti{
  background-image: url(./img/backgroundImgSection3\ continenti.jpg);
  padding: 2rem;
  background-size: cover;
  background-position-y: -3rem;
  text-align: center;
}

#continente-africa{
  background-image: url(./img/img_continent/africa.webp);
}

#continente-europa{
  background-image: url(./img/img_continent/europa.webp);
}

#continente-asia{
  background-image: url(./img/img_continent/asia.jpg);
}

#continente-america-del-nord{
  background-image: url(./img/img_continent/nord-america.jpeg);
}

#continente-america-del-sud{
  background-image: url(./img/img_continent/sud-america.png);
}

#continente-oceania{
  background-image: url(./img/img_continent/oceania.avif);
}

#continente-antartide{
  background-image: url(./img/img_continent/antartide.webp);
}

#continente-africa,
#continente-europa,
#continente-asia,
#continente-america-del-nord,
#continente-america-del-sud,
#continente-oceania,
#continente-antartide{
  padding: 2rem;
  box-shadow: 0px 0px 21px 2px;
  margin: 0.5rem;
}

.cardContinent h3, .cardContinent div{
  text-align: center;
  background-color: #ffffffd1;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 11px 19px 2px;
}

#groupVideoContinent{
  background-image: url(./img/backgroundImgSection3\ intro\ sezioni.jpg);
  padding: 2rem;
  text-align: center;
  background-size: cover;
  margin-top: 0.5rem;
  background-position-x: -30rem;
}

#groupVideoContinent p{
  background-color: #ffffffd1;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
}

#groupVideoContinent iframe{
  width: 100%;
  padding: 0.5rem;
  background-color: black;
  height: 14rem;
}

/*css Divulgatori*/

#schermataDivulgatoriMain{
  background-color: #432412;
}

#introSectionDivulgatori{
  background-image: url(./img/divulgatori/vecchio-libro-aperto-per-halloween_135176-343.jpg);
  background-size: cover;
  min-height: 5rem;
  background-position-x: 0rem;
  background-position-y: -3rem;
  padding: 1rem;
}

.articoleDivulgatori{
  background-color: #ffffffe8;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem;
  box-shadow: -16px -5px 15px 0px;
  border-radius: 1rem;
}

.introCard{ 
  display: flex;
  justify-content: space-between;
}

.imgCard{
  width: 50%;
}

.contenutoCard{
  width: 40%;
}

.fontiPrincipaleCard{
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

.fontiPrincipaleCard > p{
  width: 40%;
  background-color: red;
}

.divulgatoriCanaliYoutube{
  background-color: black;
  padding: 1rem;
}

.articoleCardCanali{
  background-color: white;
  display: flex;
  width: 75%;
  justify-content: space-between;
  margin: 1rem;
  text-align: center;
}

.introCardCanali{
  background-color: red;
  width: 20%;
}

.articoleCardCanali img{
  width: 100%;
  height: 4rem;
}

.contenutoCardCanali{
  width: 60%;
  padding: 0.5rem;
  margin-right: 2rem;
}

/*css Creazione*/

.mainCreazione{
  background-image: url('./img/bacrgound\ image\ per\ pagina\ creazione.avif');
  background-size: contain;
  padding-top: 4rem;
  min-height: 48rem;
}

.sectionOff{
  background-image: url('./img/bacrgound\ image\ per\ pagina\ creazione.avif');
  background-size: contain;
  padding-top: 4rem;
  filter: blur(2px) brightness(0.5);
  pointer-events: none;
  min-height: 48rem;
}

.sectionBar{
  display: flex;
  align-items: center;
}

#barSearch{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.search{
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
  border-color: #356b6f;
}

.segna{
  background-color: red;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 2px solid #252525;
  border-radius: 1rem;
  font-size: x-small;
}

.categorie{
  background-color: rgb(223, 223, 105);
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 2px solid #252525;
  border-radius: 1rem;
  margin: 0;
  font-size: x-small;
}

.aricoliContenutiCategorie{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-around;
}

.salvareContenuto{
  margin: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 6px 10px 1px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: greenyellow;
  justify-content: space-around;
  width: 55%;
  font-size: smaller;
  padding: 0.5rem;
  text-align: center;
}

.salvareContenuto Button{
  margin: 0.5rem;
  background-color: greenyellow;
  border-radius: 0.5rem;
  border-color: #69f5b4;
}

.sottoArticoli{
  text-align: center;
  background-color: #ffffffc7;
  margin: 2rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.sottoArticoli img{
  width: 95%;
}

.salvaCrea{
  background-color: white;
  position: absolute;
  margin: 1rem;
  padding: 1rem;
  bottom: 3rem;
  left: 2rem;
  width: 80%;
  text-align: center;
}

.salvaCreaOff{
  display: none;
}

.cardCreazione{
  border-radius: 2rem 2rem 0rem 0rem;
  box-shadow: 6px 0px 12px 9px;
  background-color: white;
  margin: 1rem;
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardCategoria{
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: red;
  width: 100%;
}

.groupBottonCreazione{
  display: flex;
  justify-content: space-around;
}

.groupBottonCreazione > Button{
  border-radius: 1rem 0rem 0rem 1rem;
  background-color: #bdbdbd;
  border-color: #7b7b7b;
}

.groupBottonCreazione > :last-child{
  border-radius: 0rem 1rem 1rem 0rem;
  background-color: #bdbdbd;
  border-color: #7b7b7b;
}

.categorieArticoloAnteprima{
  margin: 0;
  background-color: #ff2e2e;
  padding: 0.5rem;
  border-radius: 2rem;
}

.titolo{
  margin: 0;
  padding: 0.5rem;
  background-color: #b3b3b3;
  border-radius: 2rem;
  font-weight: 700;
}
