body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  padding: 0;
}

#bigSectionBattaglie, 
#bigSectionEpoche, 
#bigSectionInvenzioni,
#bigSectionContinenti{
  margin-top: 6rem;
}

