body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f4f8;
  margin: 0;
  padding: 0;
}

#bigSectionBattaglie, 
#bigSectionEpoche, 
#bigSectionInvenzioni,
#bigSectionContinenti,
#BigSectionDivulgatori{
  margin-top: 6rem;
}

#bigSectionBattaglie h1, 
#bigSectionEpoche h1, 
#bigSectionInvenzioni h1,
#bigSectionContinenti h1,
#BigSectionDivulgatori h1{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  background-color: #ffffffd9;
  width: 50%;
  border-radius: 3rem 0rem 3rem 0rem;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-size: medium;
  font-weight: 600;
}

p, button{
  margin: 0;
  font-size: x-small;
  line-height: 2;
}

a{
  text-decoration: none;
  font-size: x-small;
}

/*media query per tablet*/

@media (min-width: 426px){

  h1, h2, h3, h4, h5, h6{
    font-size: large;
    font-weight: 800;
  }

  p, button{
    font-size: smaller;
  }

  a{
    font-size: smaller;
  }
}

/*media query per tablet*/

@media (min-width: 1200px){

  h1, h2, h3, h4, h5, h6{
    font-size: larger;
    font-weight: bolder;
  }

  p, button{
    font-size: large;
  }

  a{
    font-size: medium;
  }

}